.postInteractions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.postInteractions .interactionIcons {
  align-items: center;
  display: flex;
  gap: 8px;
}
.postInteractions .interactionIcons img,
svg {
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 8px;
  transition: background 0.2s, padding 0.2s;
}
.postInteractions .interactionIcons .reacted {
  color: var(--primary);
}

.postInteractions .interactionIcons img:hover,
svg:hover {
  background-color: var(--hover);
  padding: 8px;
}
