.postInteractions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.postInteractions .interactionIcons {
  align-items: center;
  display: flex;
  gap: 8px;
}
.postInteractions .interactionIcons img {
  border-radius: 50%;
  padding: 8px;
  transition: background 0.2s, padding 0.2s;
}

.postInteractions .interactionIcons img:hover {
  background-color: var(--hover);
  padding: 8px;
}
